# PostgreSQL
POSTGRES_USER=metrolinea
POSTGRES_PASSWORD=metrolinea_secret
POSTGRES_DB=metrolinea_db
DATABASE_URL=postgresql://metrolinea:metrolinea_secret@localhost:5432/metrolinea_db
DATABASE_URL_ASYNC=postgresql+asyncpg://metrolinea:metrolinea_secret@localhost:5432/metrolinea_db

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@metrolinea.com
PGADMIN_DEFAULT_PASSWORD=admin123
